{% extends 'flatpages/default.html' %}

{% load static %}

{% block <title> %}
    News
{% endblock %}

{% block content %}
    <h1>Страница всех новостей</h1>
    <hr>
    {% if news %}
        <ul class="list-unstyled">
            {% for new in news %}
                <li class="media my-5 p-3 border">
                    
                    <div class="media-body">
                        <img src="{% if new.image %}{{ new.image.url }}{% else %}
                            {% static 'img/no_image.png' %}{% endif %}" alt="{{ new.title }}">
                        <h2><a href="{% url 'news:new_detail' new.id %}">{{ new.title }}</a> </h2>
                        <div>{{ new.content | truncatewords:10 }}</div>
                        <p class="text-right font-italic">{{ new.created }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    <hr>
    <a href="{% url 'news:new_create' %}">Добавить новую запись</a> <br>
{% endblock %}
