{% extends 'flatpages/default.html' %}

{% block title %}
    {{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3><span>"Алдын-Кушкаш" ("Золотая птица")</span> сеткуул 2011 чылдын март айдан унуп эгелээн.</h3>
    
    {{ flatpage.content }}
    
    <h3>Сеткуулдун чедиишкиннери</h3>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." />
                <div class="card-body">
                    <h4 class="card-title"><a href="#!">Item One</a></h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." />
                <div class="card-body">
                    <h4 class="card-title"><a href="#!">Item Two</a></h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." />
                <div class="card-body">
                    <h4 class="card-title"><a href="#!">Item Three</a></h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
            </div>
        </div>
    </div>
    <p>2011 чылда Россия чергелиг "Сибирь - идегелдин девискээри" деп журналистчи мергежилдин 
        3-ку шанналынын, ол-ла чылда Тыванын Журналистер эвилелинин "Чонар-Даш-2011" деп моорейинин
        "Чылдын дебюду" деп номинациязынын эдилекчизи.
    </p>
{% endblock content %}
