{% extends 'flatpages/default.html' %}

{% block title %}
    {{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>Долгап болур телефоннар:</h3>
    <i>{{ flatpage.content }}</i>
    <p>Сеткуулдун сайтызы: aldynkushkash.ru</p>
    <p>Электроннуг почтазы: aldyn-kushkash@yandex.ru</p>
    <h3>Адрезивис:</h3>
    <p>667000, Республика Тыва, Кызыл, ул. Щетинкина-Кравченко, 57, кабинет 208.</p>
    <hr>
    <img src="https://via.placeholder.com/1200x700" alt="..." />
{% endblock content %}
